@font-face {
    font-family: 'Marko One';
    src: url('fonts/marko-one.woff2') format('woff2'),
         url('fonts/marko-one.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Jua';
    src: url('fonts/jua.woff2') format('woff2'),
         url('fonts/jua.woff') format('woff');
  }
  
  :root {
    --font-family-marko-one: 'Marko One', sans-serif;
    --font-family-jua: 'Jua', sans-serif;
  }
  
  body {
    font-family: var(--font-family-marko-one);
  }
  
  .container {
    max-width: 450px;
  }
  
  .card {
    border-radius: 15px;
  }
  
  .btn-primary {
    border-radius: 8px;
  }