body {
  background-image: url('static/images/brainBloom.png');
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e6f2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  /* background-image: url(/static/images/images/brainBloom.png); */
  background-color:white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 90%;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

header h1 span {
  color: #0077cc;
}

header p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

.actions .btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.actions .btn:hover {
  background-color: #005fa3;
}

.login-text {
  margin-top: 20px;
  font-size: 0.95rem;
  color: #444;
}

.login-link {
  color: #0077cc;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
}
