body {
  background-image: url('../img/brainBloom.png');
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0;
  font-family: 'Comic Relief', sans-serif;
  background-color: #e6f2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 800px;           
  padding: 80px;         
  text-align: left;
  font-size: 1.5rem;     
   color: #003366;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
  font-size: 3rem;
  margin-left: auto;
  font-size: 5rem;
}

header h1 span {
  color: #1E293B;
  font-size: 6.5rem;
}

header p {
  font-size: 2rem;
  color: white;
  margin-bottom: 30px;
  font-weight: bolder;
}

.actions .btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: white;
  color: #1E293B;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.actions .btn:hover {
  background-color: #1E293B;
  color: white;
}

.login-text {
  margin-top: 20px;
  font-size: 0.95rem;
  color: #444;
  font-size: 2rem;
  font-weight: bolder;
}

.login-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.login-link:hover {
  color: #1E293B;
}
